* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans", sans-serif;
  font-family: "Mitr", sans-serif;
}

input {
  border: none;
  border-radius: 8px;
  outline: none;
  padding-left: 8px;
}

body,
html {
  background-color: #151515;
}

/*MENU*/

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 500px; */
  height: 50vh;
  animation: menu 2s ease 0s 1 normal forwards;
}

.menu-wrapper {
  padding: 2%;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  border: 3px solid #700b97;
  background: #3e065f;
}

.menu-titulo {
  letter-spacing: 2.5px;
  font-size: 3em;
  color: #ffffff;
}

.menu-escolha {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  background-color: #700b97;
  width: 14rem;
  height: 3rem;
  padding-top: 10px;
  margin: 25px 0;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.5s;
}

.menu-btn:hover {
  background-color: #8e05c2;
}

@keyframes menu {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

/*JOGO*/

.header-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.header-title a,
.header-pontuacao a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
  font-size: 1.5rem;
  border: 2px solid #3e065f;
  border-radius: 8px;
  padding: 2px 4px;
}

.header-title a:hover,
.header-pontuacao a:hover {
  color: #700b97;
}

.header-title h1,
.header-pontuacao h1 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 40px;
  animation: headerAnime 2s ease 0s 1 normal forwards;
}

@keyframes headerAnime {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.header-pontuacao {
  width:70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
}

.area-jogo {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.area-jogo h1 {
  text-align: center;
  margin: 10px 0;
  font-size: 1.5em;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper input[type="text"] {
  width: 100px;
  height: 30px;
  padding-left: 8px;
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
}

.input-wrapper input[type="submit"] {
  margin-left: -8px;
  padding: 0 5px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  background-color: #3e065f;
  color: #ffffff;
}

.input-wrapper button {
  width: 20rem;
  padding: 10px 0;
  margin-top: 2rem;
  align-self: center;
  font-size: 1em;
  letter-spacing: 1.2px;
  font-weight: bold;
  color: #ffffff;
  background-color: #3e065f;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.input-wrapper button:hover {
  background-color: #700b97;
}

#entrada {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  padding-left: 8px;
  font-size: 1.2em;
  transition: 0.5s ease-in-out;
}

#entrada:focus {
  transform: scale(1.05);
}

#palavras {
  margin-top: 20px;
  width: 350px;
  padding: 10px;
  border-radius: 8px;
  background-color: #700b97;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -3px 0px 27px -13px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -3px 0px 27px -13px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: -3px 0px 27px -13px rgba(255, 255, 255, 0.75);
}

.vencendor input[type="text"] {
  width: 200px;
  height: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1.3px;
}

.vencendor input[type="submit"] {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #151515;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.vencendor input[type="submit"]:hover {
  background-color: #ffffff;
  color: #3e065f;
}

.lista-pontos {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  height: 100vh;
}

.scores {
  text-align: center;
}

.scores h1 {
  color: #ffffff;
  font-size: 2.2rem;
}

.score-player {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.score-player span {
  font-size: 1.3rem;
  letter-spacing: 1.01px;
  font-weight: 600;
  color: #700b97;
  cursor: pointer;
  transition: .1s ease-in;
}

.score-player:hover > span{
  color: #ffffff;
}

.GREEN {
  color: green;
}

.YELLOW {
  color: yellow;
}
